* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  position: relative;
}

main {
  width: 80%;
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  align-items: center;
  background: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: -125vh, 30vh;
}

.intro h1 {
  width: 80%;
  color: hsl(300, 43%, 22%);
  font-size: 40px;
}

.intro P {
  color: hsl(303, 10%, 53%);
  margin-top: 10px;
}

.rating .rate1,
.rate2,
.rate3 {
  width: 80%;
  margin: 15px;
  border-radius: 8px;
  background-color: hsl(333, 80%, 95%);
  padding: 12px 20px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 15px;
  display: flex;
}

i {
  color: orange;
  letter-spacing: 5px;
}

i:nth-child(5) {
  margin-right: 10px;
}

.rate2 {
  margin-left: 50px;
}

.rate3 {
  margin-left: 100px;
}
.buyers {
  display: flex;
  align-items: center;
  grid-column: 1/3;
  grid-gap: 20px;
}

.card {
  width: 100%;
  background-color: hsl(300, 43%, 22%);
  padding: 10px;
  border-radius: 20px;
}

.card2 {
  margin-top: 30px;
}

.card3 {
  margin-top: 60px;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.head img {
  width: 20%;
  border-radius: 50%;
}

.name {
  margin-left: 20px;
}

h4 {
  color: white;
}

h5 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

.body {
  color: white;
  font-weight: 400;
  line-height: 2;
  font-size: 12px;
}

.images {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1040px) {
  body {
    overflow-x: hidden;
  }
  main {
    width: 80%;
  }
  .intro h1 {
    width: 100%;
  }
  .rating .rate1,
  .rate2,
  .rate3 {
    font-size: 12px;
  }
  .card2,
  .card3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  .intro h1 {
    width: 100%;
  }
  .intro p {
    font-size: 15px;
  }
  .rating .rate1,
  .rate2,
  .rate3 {
    width: 100%;
    padding: 10px 15px;
  }
  .rate2,
  .rate3 {
    margin-left: 15px;
  }

  .card2,
  .card3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .rating .rate1,
  .rate2,
  .rate3 {
    display: block;
  }
  i {
    margin-bottom: 8px;
  }
  .buyers {
    display: block;
  }
  .card {
    margin: 10px;
  }
  .head {
    flex-direction: column;
  }
  .name {
    margin-left: 0;
    margin: 8px;
  }
}
